{% extends "base.html" %}

{% block head %}

<title>Ecommerce Store</title>
<style>

figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
  /* color: #ccc; */
}

img {
  border: none;
  max-width: 100%;
  height: 150%;
  display: block;
  
  transition: transform .2s ease-in-out;
}


</style>

{% endblock %}

{% block body %}

 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container" style="background-color: #262626;">
      <a class="navbar-brand js-scroll-trigger" href="{{url_for('home')}}"><img src="{{ url_for('static',filename='assets/img/navbar-logo.png')}}" alt="" /></a>
      
        
        {% from "_formhelpers.html" import render_field %}
            <form method="post">
                
                  {{ render_field(form.search) }}
        
            </form>  
        
            
            {% if not user.email %}
              <form action="/login" method="post" class="form-inline">
        
                  <input class="nav-link js-scroll-trigger" type="submit" value="users" name="user" style="color:#ffb600;border:0px #000 solid;background-color:transparent;">
                  <input class="nav-link js-scroll-trigger" type="submit" value="sellers" name="seller" style="color:#ffb600;border:0px #000 solid;background-color:transparent;">
        
              </form>
            {% endif %}

            {% if user.role=="seller" %}

              <form action="/my_products">
              <input class="nav-link js-scroll-trigger" type="submit" value="my_products" style="color:#ffb600;border:0px #000 solid;background-color:transparent;">
              </form>

              <form action="/logout">
              <input class="nav-link js-scroll-trigger" type="submit" value="logout" style="color:#ffb600;border:0px #000 solid;background-color:transparent;">
              </form>


            {% elif user.role=="user" %}

              <form action="/view_cart">
              <input class="nav-link js-scroll-trigger" type="submit" value="view_cart" style="color:#ffb600;border:0px #000 solid;background-color:transparent;">
              </form>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  
                  {% for message in messages %}
                    <p style="color: white;">{{ message }}</p>
                  {% endfor %}
                  
                {% endif %}
              {% endwith %}
              <form action="/logout">
              <input class="nav-link js-scroll-trigger" type="submit" value="logout" style="color:#ffb600;border:0px #000 solid;background-color:transparent;">
              </form>


            {% endif %}

        
  </div>
</nav>


<header class="masthead">
  <div class="container">
      <div class="masthead-subheading">Amaan Toy Store</div>
      <div class="masthead-heading text-uppercase">Find your toys</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#section2">Tell Me More</a>
  </div>
</header>






    



<div id="section2">

<h1>Products</h1>

<div class="grid-container">

{% for product_id in products %}

  <div class="item{{ loop.index }}">
    
    <!-- <a href="{{url_for('product', product_id=product_id)}}"> 
    
    </a> -->


    <a href="{{url_for('product', product_id=product_id)}}">
      <figure>
        <img src="https://homepages.cae.wisc.edu/~ece533/images/pool.png" alt="">
        <figcaption>
          <p>{{ trim_name(get_name_by_id(product_id)) }}</p>
        </figcaption>
      </figure>
    </a>
    
    </div>
  
{% endfor %}

</div>

</div>


{% endblock %}

