{% extends "base.html" %}

{% block head %}

<title>Ecommerce Store</title>
<style>

p{
    color:#ffb600;
}

</style>


{% endblock %}

{% block body %}
  

<div>

    <p> Name = {{ product_info['name'][key] }}</p>
    <p> id = {{ product_info['ids'][key] }}</p>
    <p> Avg_rating = {{ product_info['average_review_rating'][key] }}</p>
    <p> Category = {{ product_info['category'][key] }}</p>
    <p> Price = {{ product_info['price'][key] }}</p>
    
    {% if user.role=="user" %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            
        {% endif %}
    {% endwith %}

    <form action="/add_to_cart">
        <input type="submit" value="add_to_cart" name="add_to_cart">
    </form>
    <form action="/view_cart">
        <input type="submit" value="view_cart">
        </form>
{% endif %}
</div>

<div>

    <h3> Recommendations</h3>
    <div class="grid-container">
    {% for recommended_product_id in recommendations %}
    
    <div class="item{{ loop.index }}">

        <a href="{{url_for('product', product_id=recommended_product_id)}}"> 
            {{ get_name_by_id(recommended_product_id) }} 
         </a>
 
     </div>
    
    {% endfor %}
    </div>

</div>


{% endblock %}

