{% extends "base.html" %}

{% block head %}

<title>Ecommerce Store</title>


{% endblock %}

{% block body %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    
  {% endif %}
{% endwith %}

    




<h1>In Cart</h1>
<p> Your Cost : {{ user.cost }}</p>
<div class="grid-container">

{% for product_id in user.cart %}

  <div class="item{{ loop.index }}">
    
    <a href="{{url_for('product', product_id=product_id)}}"> 
    {{ get_name_by_id(product_id) }}
    </a>
    <form action="/remove_from_cart" method="POST">

        <input type="submit" value="remove" name="{{ product_id }}" >

    </form>
    
    </div>
  <div>

    

  </div>
{% endfor %}

<form action="/payment.html" method="POST">

    <input type="submit" value="Proceed to payment" name="{{ user.cost }}"">

</form>

</div>




{% endblock %}

